{:paths ["src/clj"] 
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        org.apache.commons/commons-math3 {:mvn/version "3.6.1"}    ; NOTE USING DIFFERENT INCOMPATIBLE
        org.apache.commons/commons-rng-core {:mvn/version "1.5"}   ; VERSIONS OF Apache Commons math
        org.apache.commons/commons-rng-simple {:mvn/version "1.5"} ; libs because of nonoverlapping features
        org.apache.commons/commons-rng-client-api {:mvn/version "1.5"}
        org.apache.commons/commons-rng-sampling {:mvn/version "1.5"}
        ;generateme/fastmath {:mvn/version "2.1.8"}
        ;generateme/fastmath {:mvn/version "2.1.9-SNAPSHOT"} ; needed for stats/wmean
        generateme/fastmath {:mvn/version "2.2.2-SNAPSHOT"} ; adds rint with scale arg
        org.flatland/ordered {:mvn/version "1.15.10"} ; for ordered-set
        net.mikera/core.matrix {:mvn/version "0.63.0"}
        aerial.hanami/aerial.hanami {:mvn/version "0.17.0"}
        ;dk.ative/docjure {:mvn/version "1.19.0"} ; Excel file creation functions
        techascent/tech.ml.dataset {:mvn/version "7.012"}
        scicloj/tablecloth {:mvn/version "7.012"}
        techascent/tech.viz {:mvn/version "6.00-beta-16-2"}
        org.scicloj/clay {:mvn/version "2-alpha35"}
        io.github.nextjournal/clerk {:mvn/version "0.5.346"}
        ;com.taoensso/nippy {:mvn/version "3.1.1"} ; for preventing a problem with clerk's use of nippy
        metasoarous/oz {:mvn/version "2.0.0-alpha5"}
        cljplot/cljplot {:mvn/version "0.0.2a-SNAPSHOT"} ; also by generateme
        mason/mason {:mvn/version "21"}
        }
 :aliases {:nrepl-server {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"} ; see note above
                                       cider/cider-nrepl {:mvn/version "0.29.0"}}
                          :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
           :production {:jvm-opts ["-Xms4g"  ; initial heap
                                   "-Xmx18g" ; max heap
                                   "-Xss1g"  ; max per-thread stack size (s/b smaller?)
                                   "-XX:TieredStopAtLevel=4"]} ; 3X improvement
           :smallproduction {:jvm-opts ["-Xms4g" ; initial heap
                                        "-Xmx8g" ; max heap
                                        "-Xss1g" ; max per-thread stack size (s/b smaller?)
                                        "-XX:TieredStopAtLevel=4"]} ; 3X improvement
           :profiling {:extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                                    com.clojure-goes-fast/clj-async-profiler {:mvn-version "1.0.5"}  ; I'm getting an error
                                   }
                       :jvm-opts ["-Djdk.attach.allowAttachSelf"   ; for clj-async-profile: needed for JDK9+
                                  "-XX:+UnlockDiagnosticVMOptions" ; for clj-async-profiler
                                  "-XX:+DebugNonSafepoints"]}     ; for clj-async-profiler
          }
}
